/*bottom*/

@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Anton|Montserrat:900|Sedgwick+Ave+Display|Shadows+Into+Light');

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);
* {
	margin: 0;
	padding: 0;
}
html,
body {
	height: 100%;
}


section h1 {
	margin-top: 60px;
}


body{
	background-color: #000000;
}

.demo a {
	margin-top: 120px;
	padding-bottom: 100px;
	bottom: 20px;
	z-index: 2;
	display: inline-block;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	color: #fff;
	font: normal 400 20px/1 "Josefin Sans", sans-serif;
	font-size: 20px;
	letter-spacing: 0.1em;
	text-decoration: none;
	transition: opacity 0.3s;
}
.demo a:hover {
	opacity: 0.5;
}


#section02 a {
	padding-top: 70px;
}
#section02 a span {
	position: absolute;
	top: 0;
	left: 50%;
	width: 46px;
	height: 46px;
	margin-left: -23px;
	border: 1px solid #fff;
	border-radius: 100%;
	box-sizing: border-box;
}
#section02 a span::after {
	position: absolute;
	top: 50%;
	left: 50%;
	content: "";
	width: 16px;
	height: 16px;
	margin: -12px 0 0 -8px;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	box-sizing: border-box;
}


/*/bottom*/

/*menu*/

nav {
    position: fixed;
    font-size: 14px;
    font-family: 'proxima-nova', 'Open Sans', sans-serif;
    padding-top: 10px;
    
    background-color: #000000;
    width: 100%;
    height: 26px;
}

nav ul {
    padding-bottom: 0;
}


nav li {
    list-style-type: none;
    display: inline-block;
    border-right: 3px solid #808080;/*分割线*/
}

nav li:last-child {
    border-right: none;
}

nav li a {
    margin-left: 45px;
    margin-right: 45px;
    text-decoration: none;
    border-bottom: solid 3px transparent;
    color: #ffffff;
}

nav li a:hover{
	opacity: 0.5;
	border-bottom-color: #808000;
}

/*main*/
main{
	background-color: #ffffff;
}

#lead1{
	color: #2c2c2c;
	padding-top: 65px;
	font-family: 'Shadows Into Light', cursive;
    font-weight: 400;
    font-size: 34px;
    letter-spacing: .69px;
    line-height: 24px;
}

#headerpost{
    background-color: #ffffff;
    width: 100%;
}

#ytplayer{
	padding-top: 30px;
}


#lead {
    background-color: solid;
    width: 420px;
	margin-top: 30px;
    margin-bottom: 10px;
	color: #2c2c2c;
	font-size: 14px;
	font-family:Microsoft YaHei,Arial;
	line-height:200%;
}



/*iconmenu*/


#iconmenu {
    background-color: #ffffff;
    height: 200px;
    padding-bottom: 50px;
}

#iconmenu ul {
    margin: 0;
    padding: 3px 0 0;
}

#iconmenu li {
    display: inline;
    list-style-type: none;
}

#iconmenu img {
    border: none;
    width: 28px;
    margin-left: 5px;
    margin-right: 5px;
}


/*footer*/

footer{
	background-color: #000000;
	height: 150px;
	width: 100%;
}

#footerblock{
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	padding-top: 50px;
}